html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------------------------------------------*/

/*YLEISASETUKSIA*/

/*---------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

h1 {}

h2 {}

p {}

a {
    color: aliceblue;
}

/*---------------------------------------------------------------------------*/

/*section 1 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section1 {
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

.logo {
    line-height: 40px;
    position: fixed;
    float: left;
    margin: 4px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 20px;
    z-index: 999;
}

nav ul {
    line-height: 40px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 4px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li .contact-button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #25D366;
    padding: 10px;
    border-radius: 7px;
    font-weight: 600;
}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.vasen-columni-aloitus {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 80px !important;
    display: flex;
    align-items: center;
    padding-left: 100px;
    margin-top: 80px;
}

.etutekstin-tyylitys {
    font-size: 85px !important;
}

.ala-painike {
    border-radius: 10px;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px 0px;
    display: inline-block !important;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border: 1px solid #fff;
    font-weight: 600 !important;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 14px;
    line-height: 1.42857143;
    user-select: none;
    text-decoration-line: none !important;
}






@keyframes breath {
    0% {
        background-size: 100% auto;
    }

    50% {
        background-size: 140% auto;
    }

    100% {
        background-size: 100% auto;
    }
}

.microsoft-selaimet {
    width: 100%;
    height: 100%;

    background: url("../IMG/testikuva.jpg") center center no-repeat;
    background-size: cover;
}






/*---------------------------------------------------------------------------*/

/*section 2 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section2 {
    height: 1000px;
}

/*---------------------------------------------------------------------------*/

/*section 3 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 4 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 5 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 6 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/* ERIKOIS SÄÄDÖT ERI IKKUNAN LEVEYKSILLÄ*/

@media only screen and (max-width: 1400px) {
    .etutekstin-tyylitys {
        font-size: 55px !important;
    }

    .vasen-columni-aloitus {
        padding-left: 50px;
    }
}

/* TÄSTÄ ALKAA TABLETTI OSUUS*/

@media only screen and (max-width: 992px) {
    .etutekstin-tyylitys {
        font-size: 45px !important;
    }

    .vasen-columni-aloitus {
        padding-left: 50px;
    }
}

/* TÄSTÄ ALKAA MOBIILI OSUUS*/

@media only screen and (max-width: 767px) {

    /*---------------------------------------------------------------------------*/
    /*YLEISASETUKSIA*/
    /*---------------------------------------------------------------------------*/
    .etutekstin-tyylitys {
        font-size: 35px !important;
    }

    .logo {
        position: fixed;
        top: 0;
        margin-top: 6px;
    }

    nav {
        transition: 1s;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    .black {
        transition: 1s;
        background: #000;
    }

    nav.black ul {
        background: #000;

    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        transition: 1s;
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}
