html,
body {

    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------------------------------------------*/

/*YLEISASETUKSIA*/

/*---------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

h1 {}

h2 {}

p {}

a {
    color: aliceblue;
}

/*---------------------------------------------------------------------------*/

/*section 1 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section1 {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
}

.aloitus-teksti {
    margin-top: 0px;
    position: absolute;

}

_:-ms-lang(x),
.pois {
    display: none;
}

@-moz-document url-prefix() {
    #myVideo {
        height: inherit !important;
    }
}

#myVideo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    min-height: 100%;
}

/*---------------------------------------------------------------------------*/

/*section 2 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section2 {
    height: 1000px;
}

/*---------------------------------------------------------------------------*/

/*section 3 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 4 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 5 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 6 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/* TÄSTÄ ALKAA TABLETTI OSUUS*/

@media only screen and (max-width: 992px) {}

/* TÄSTÄ ALKAA MOBIILI OSUUS*/

@media only screen and (max-width: 767px) {
    /*---------------------------------------------------------------------------*/
    /*YLEISASETUKSIA*/
    /*---------------------------------------------------------------------------*/
    h1 {
        font-size: 1.9rem;
    }
}
