html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant', serif;
    font-family: 'Open Sans', sans-serif;
}

/*---------------------------------------------------------------------------*/

/*YLEISASETUKSIA*/

/*---------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

h1 {}

h2 {}

p {}

a {
    color: aliceblue;
}

/*---------------------------------------------------------------------------*/

/*section 1 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section1 {
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(rgba(44, 45, 51, .9), rgba(44, 45, 51, -0.1)), url(../IMG/olli_perikanta_taustakuva.jpg);
    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;
    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.desktop-navigation {
    margin-top: 10px;
    display: block;
}

.logo {
    line-height: 40px;
    position: fixed;
    float: left;
    margin: 10px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 20px;
    z-index: 999;
}

nav ul {
    line-height: 40px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    transition: 1s;
}


nav ul li {
    display: inline-block;
    padding: 4px 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li .contact-button {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    background-color: #25D366;
    padding: 10px;
    border-radius: 7px;
    font-weight: 600;
}

.menu-icon {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 10px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    padding-top: 30px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.vasen-columni-aloitus {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 80px !important;
    display: flex;
    align-items: center;
    padding-left: 100px;
    margin-top: 80px;
}

.etutekstin-tyylitys {
    font-size: 60px !important;
}

.ala-painike {
    border-radius: 10px;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 30px 0px;
    display: inline-block !important;
    text-align: center;
    text-transform: uppercase;
    padding: 13px 35px 13px 35px;
    border: 1px solid #fff;
    font-weight: 600 !important;
    vertical-align: middle;
    cursor: pointer;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 1.42857143;
    user-select: none;
    text-decoration-line: none !important;
}

.typewrite {
    min-height: 130px;
}














/*---------------------------------------------------------------------------*/

/*section 2 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

.section2 {
    height: 1000px;
}


/*---------------------------------------------------------------------------*/

/*section 3 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 4 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 5 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/

/*section 6 ASETUKSIA*/

/*---------------------------------------------------------------------------*/

/* ERIKOIS SÄÄDÖT ERI IKKUNAN LEVEYKSILLÄ*/

@media only screen and (max-width: 1400px) {
    .etutekstin-tyylitys {
        font-size: 55px !important;
    }

    .vasen-columni-aloitus {
        padding-left: 50px;
    }
}

/* TÄSTÄ ALKAA TABLETTI OSUUS*/

@media only screen and (max-width: 992px) {
    .etutekstin-tyylitys {
        font-size: 45px !important;
    }

    .vasen-columni-aloitus {
        padding-left: 50px;
    }
}

/* TÄSTÄ ALKAA MOBIILI OSUUS*/

@media only screen and (max-width: 767px) {

    /*---------------------------------------------------------------------------*/
    /*YLEISASETUKSIA*/
    /*---------------------------------------------------------------------------*/
    .logo {
        position: fixed;
        top: 15px;

    }

    nav {
        transition: 1s;
    }

    nav ul li {
        transition: 1s;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    /*---------------------------------------------------------------------------*/
    /*section 1 ASETUKSIA*/
    /*---------------------------------------------------------------------------*/
    .desktop-navigation {
        display: none;
    }
    .vasen-columni-aloitus {
        padding-left: 15px;
        flex-direction: column;
        justify-content: center;
    }
    .etutekstin-tyylitys {
        font-size: 35px !important;
        text-align: center;
    }
}
